body {
    background-color: aqua;
    color: rgb(5, 37, 200);
    font:caption;
}

p {
   color:rgb(13, 7, 7);
   padding: 10px;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    color: rgb(30, 50, 149);
}

#experience {
         padding: 5px 50px;
         border-color: darkcyan ;
         border-width: 0.5em;
         border-style:inset;
}

.jobs {
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     list-style: none;
     column-width:;
}

.job1, .job2, .job3 {
     background-color: rgb(190, 246, 246);
     margin: 0.5em;
   
}
.jobs h3 {
   margin: 5px 30px
}


#name {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 2em;
      font-style:italic;
      margin-top: 5em;
      text-align: center    ;
}  

#portfilo-picture {
        border-radius: 50%;
        width: 200px;
        margin: 10px auto;
        border-color: rgb(69, 120, 150);
        border-width: 1dvi;
        border-style: dashed;
}

#navigation {
   position:fixed;
   top: 0;
   background-color: rgb(121, 244, 21);
   width: 100%;
   opacity: 100%;
}

#navigation ul {
    display: flex;
    justify-content: center;
    gap: 2.6em;
    padding-bottom: 0;
    list-style: none;
}


#about, #experience, #skills, #projects, #connect {
    scroll-margin-top: 4em;
}

.connect-list {
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 3em;
    padding-left: 10px;
}

