body {
    background-color: rgb(116, 249, 249);
    color: rgb(5, 37, 200);
    font:caption;
}

p {
   color:rgb(13, 7, 7);
   padding: 10px;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    color: rgb(30, 50, 149);
}

#navigation {
    position:fixed;
    top: 0;
    background-color: rgb(53, 250, 178);
    font-size: 1rem;
    width: 100%;
    opacity: 100%;
 }
 
 #navigation ul {
     display: flex;
     flex-wrap: wrap;
     gap: 2.6em;
     padding-bottom: 0;
     list-style: none;
 }

#name {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 2em;
      font-style:italic;
      margin-top: 5em;
      text-align: center    ;
}  

#portfilo-picture{
        border-radius: 70%;
        width: 30%;
        border-color: rgb(69, 120, 150);
        border-width: 1dvi;
        border-style: dashed;
}
.portfilo-picture {
        display:flex;
        align-items: center;
        justify-content: center;   
}


#about, #experience, #skills, #projects, #connect, #leave_message {
    scroll-margin-top: 7em;
  
}
#leave_message, .connect-list,.message, .project-container, .skill,.about-container {
    background-color: rgba(209, 217, 218, 0.701);
}

#experience {
    padding: 5px 50px;
    border-color: darkcyan ;
    border-width: 0.5em;
    border-style:inset;

}

.exp-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/*repeat( auto-fit, minmax (300px, 20em ));*/
gap: 10px;

}

.exp-item {
display:flex;
flex-direction: row;
background-color: rgb(190, 246, 246);
margin : 0.5em;

}
.date {
    margin-left: 0.8em;
}

.job {
display: flex;
flex-direction: column;
}

.date {
margin-right: 1.5rem;
min-width:min-content;
}

.skills{
    display:flex;
    justify-content: left;
}

.connect-list {
    display: flex;
    justify-content:left;
    gap: 1rem;
    padding-left: 10px;
    height: 10%;
}
#logo {
    width: 40%;
    height: auto;
    max-width: 40%;
    max-height: 60%;
}
.message_item {
    margin-bottom: 10px;
}
.edit-button, .remove-button {
    margin-left: 5px;
}
#leave_message {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  

}


@media only screen and (max-width: 380px) {
    #navigation {
        background-color:rgb(119, 247, 156);
        font: size 1.5em; ;
    }
    
    body {
        background-color: rgb(149, 198, 251);
    }
    #name {
        font-style: normal;
        font-size: 2em;
    }

    .exp-container {
        grid-template-columns:  1fr;
    }
    #leave_message {
        display:flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 410px) {
    .exp-container {
        grid-template-columns: 1fr 1fr;
}
#leave_message {
   
    flex-wrap: wrap;
}
@media only screen and (min-width: 900px) {
   
    .exp-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

